In [ ]:

# 강의목표 -> 판다스로 간단한 데이터전처리, 전처리데이터 시각화
# 왜 사용? 데이터분석 : 문제정의 -> 데이터수집 -> 데이터전처리(가공) -> 시각화/학습에 사용함(ai/ml) -> 인사이트 도출.
# 판다스는 데이터전처리를 위해 사용됨.
# 왜 엑셀이있는데 판다스 쓰는지,, :
#   1) 수식연산 빠름(numpy로 만들어져서 빠르게 연산되는 라이브러리 존재)
#   2) 대용량 데이터 처리 가능
#   3) 중요개념 : 파이썬코드로 되어있어서.. 시각화/학습에 바로 활용 가능
#   4) 누락된 데이터(결측치) 처리 용이

import pandas as pd #shift+enter

In [ ]:
dates = pd.date_range('20190301', periods=6) #날짜, 일수를 넣으면 값 반환 (결측치 감소)

In [ ]:
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import numpy as np

In [ ]:
#1. data frame만들기 (2차원형태의 테이블)
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns=['A','B','C','D']) #생성자의 함수는 대부분 대문자로 시작

In [ ]:
df

                   A         B         C         D
2019-03-01 -0.621704 -0.050887  0.628987  0.271250
2019-03-02  0.525507 -2.189271 -1.114434  1.125137
2019-03-03  0.317390 -0.161205 -0.215392  0.120458
2019-03-04  0.671150 -1.051777 -2.026217 -0.862931
2019-03-05  0.920423  0.065646 -0.560622 -2.723603
2019-03-06  0.589380 -2.102541 -0.092969  0.482800

In [ ]:
np.random.randn(6,4) # 랜덤한 값을 채워서 6행4열의 테이블을 만듦, index=dates : 행의값 채우기, columns=['a','b' ...] 열의 값 채우기

array([[ 1.93509966, -0.42554837,  0.28982371, -0.31367111],
       [ 0.07651783,  1.24886073,  0.04127654,  0.66918957],
       [-1.30516602,  0.03080902, -0.96314773, -0.65871252],
       [-0.55790767, -0.54729384,  0.10352821, -0.01175642],
       [ 0.36427406, -2.5183786 ,  1.23143434,  1.48455708],
       [-0.43109213,  0.54821423,  0.90698307,  1.4558195 ]])

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.values

array([[-0.62170372, -0.05088689,  0.62898682,  0.27124995],
       [ 0.52550719, -2.18927114, -1.11443369,  1.12513694],
       [ 0.31739025, -0.16120522, -0.2153919 ,  0.12045796],
       [ 0.67114954, -1.05177724, -2.02621666, -0.86293085],
       [ 0.92042311,  0.06564617, -0.56062161, -2.72360286],
       [ 0.58938023, -2.10254055, -0.09296899,  0.48279994]])

In [ ]:
#2. data frame 요약하기 (통계나 평균 구할 때 쉽게해보기)
df.describe() # 카운트, 평균, 표준편차, 최소값, 25%, 50%, 75%, 최대값을 요약해줌

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.400358 -0.915006 -0.563441 -0.264481
std    0.537900  1.032404  0.917353  1.366022
min   -0.621704 -2.189271 -2.026217 -2.723603
25%    0.369419 -1.839850 -0.975981 -0.617084
50%    0.557444 -0.606491 -0.388007  0.195854
75%    0.650707 -0.078466 -0.123575  0.429912
max    0.920423  0.065646  0.628987  1.125137

In [ ]:
#3. data frame 정렬하기 -> 
df.sort_values(by='A') #df의 값을 A기준으로 오름차순정렬

                   A         B         C         D
2019-03-01 -0.621704 -0.050887  0.628987  0.271250
2019-03-03  0.317390 -0.161205 -0.215392  0.120458
2019-03-02  0.525507 -2.189271 -1.114434  1.125137
2019-03-06  0.589380 -2.102541 -0.092969  0.482800
2019-03-04  0.671150 -1.051777 -2.026217 -0.862931
2019-03-05  0.920423  0.065646 -0.560622 -2.723603

In [ ]:
df.sort_values(by='A', ascending=False) #내림차순 정렬

                   A         B         C         D
2019-03-05  0.920423  0.065646 -0.560622 -2.723603
2019-03-04  0.671150 -1.051777 -2.026217 -0.862931
2019-03-06  0.589380 -2.102541 -0.092969  0.482800
2019-03-02  0.525507 -2.189271 -1.114434  1.125137
2019-03-03  0.317390 -0.161205 -0.215392  0.120458
2019-03-01 -0.621704 -0.050887  0.628987  0.271250

In [ ]:
#4. data frame의 값을 조회하기
df['A']

2019-03-01   -0.621704
2019-03-02    0.525507
2019-03-03    0.317390
2019-03-04    0.671150
2019-03-05    0.920423
2019-03-06    0.589380
Freq: D, Name: A, dtype: float64

In [ ]:
#A열의 특정 날을 조회하기 (index는 쓸 수 없고 Columns만 쓸 수 있음)
#인덱싱.슬라이싱
list1 = [1,2,3,4]
list1[2] #인덱싱 : 특정 위치 지정해서 값 가져오기 (2번째값 접근)
list1[1:3] #슬라이싱 : 시작이상 ~끝 미만값 가져오기

df[0:5] #먼가 헷갈림; -> 해결책 있음 머냐면... df.logc[어쩌구]

                   A         B         C         D
2019-03-01 -0.621704 -0.050887  0.628987  0.271250
2019-03-02  0.525507 -2.189271 -1.114434  1.125137
2019-03-03  0.317390 -0.161205 -0.215392  0.120458
2019-03-04  0.671150 -1.051777 -2.026217 -0.862931
2019-03-05  0.920423  0.065646 -0.560622 -2.723603

In [ ]:
df.loc['2019-03-01']
df.loc['2019-03-01',['A','B']] #이렇게 loc을 이용하여 행과 열을 가져올 수 있당
df.loc['2019-03-01':'2019-03-03','A':'D']

                   A         B         C         D
2019-03-01 -0.621704 -0.050887  0.628987  0.271250
2019-03-02  0.525507 -2.189271 -1.114434  1.125137
2019-03-03  0.317390 -0.161205 -0.215392  0.120458

In [ ]:
# iloc(index)
df.iloc[0:4] #이름이 아닌 인덱스(숫자기반)로 가져올 수 있는 iloc
df.iloc[0,0]
df.iloc[0:2, 0:2]

                   A         B
2019-03-01 -0.621704 -0.050887
2019-03-02  0.525507 -2.189271

In [ ]:
#1. DataFrame 생성. -> DataFrame()
#2. DataFrame 요약 -> discribe()
#3. DataFrame 정렬 -> sort_values()
#4. DataFrame 조회 -> df['A'] / df[0] / df.loc['2019-03-01', 'A'] / df.iloc[0,2]

In [ ]:
#5. 데이터프레임(시리즈)에서 비교연산시 각 값들과 다 비교해서 결과값을 저장한 시리즈로 반환받음
df['A'] > 0
df > 0

                A      B      C      D
2019-03-01  False  False   True   True
2019-03-02   True  False  False   True
2019-03-03   True  False  False   True
2019-03-04   True  False  False  False
2019-03-05   True   True  False  False
2019-03-06   True  False  False   True

In [ ]:
df[df['A']>0] # 데이터프레임값에 시리즈를 넣으면 TRUE인값만 반환해줌 (조건문이지만 시리즈가 들어간것..?)

                   A         B         C         D
2019-03-02  0.525507 -2.189271 -1.114434  1.125137
2019-03-03  0.317390 -0.161205 -0.215392  0.120458
2019-03-04  0.671150 -1.051777 -2.026217 -0.862931
2019-03-05  0.920423  0.065646 -0.560622 -2.723603
2019-03-06  0.589380 -2.102541 -0.092969  0.482800

In [ ]:
df[[True, True, False, True, True, True]] #데이터프레임에 []를 열고, 그안에 true/false로 이루어진 값을 넣으몀 true인 행만 남길 수 있다.

                   A         B         C         D
2019-03-01 -0.621704 -0.050887  0.628987  0.271250
2019-03-02  0.525507 -2.189271 -1.114434  1.125137
2019-03-04  0.671150 -1.051777 -2.026217 -0.862931
2019-03-05  0.920423  0.065646 -0.560622 -2.723603
2019-03-06  0.589380 -2.102541 -0.092969  0.482800

In [ ]:
#columns의 순서를 바꾸고싶다면,,,
#pd.DataFrame(df, columns=['A','C','B','D'])
df

                   A         B         C         D
2019-03-01 -0.621704 -0.050887  0.628987  0.271250
2019-03-02  0.525507 -2.189271 -1.114434  1.125137
2019-03-03  0.317390 -0.161205 -0.215392  0.120458
2019-03-04  0.671150 -1.051777 -2.026217 -0.862931
2019-03-05  0.920423  0.065646 -0.560622 -2.723603
2019-03-06  0.589380 -2.102541 -0.092969  0.482800

In [ ]:
#열추가하기(세로축)
df['E'] = [1,2,3,4,5,6]
df

                   A         B         C         D  E
2019-03-01 -0.621704 -0.050887  0.628987  0.271250  1
2019-03-02  0.525507 -2.189271 -1.114434  1.125137  2
2019-03-03  0.317390 -0.161205 -0.215392  0.120458  3
2019-03-04  0.671150 -1.051777 -2.026217 -0.862931  4
2019-03-05  0.920423  0.065646 -0.560622 -2.723603  5
2019-03-06  0.589380 -2.102541 -0.092969  0.482800  6

In [ ]:
#df['E'] = np.nan
df['F'] = df['A']+df['E']
df.loc['2019-03-01', 'A'] = 0

In [ ]:
df

                   A         B         C         D  E         F
2019-03-01  0.000000 -0.050887  0.628987  0.271250  1  0.378296
2019-03-02  0.525507 -2.189271 -1.114434  1.125137  2  2.525507
2019-03-03  0.317390 -0.161205 -0.215392  0.120458  3  3.317390
2019-03-04  0.671150 -1.051777 -2.026217 -0.862931  4  4.671150
2019-03-05  0.920423  0.065646 -0.560622 -2.723603  5  5.920423
2019-03-06  0.589380 -2.102541 -0.092969  0.482800  6  6.589380

In [ ]:
#디테일한 수정 1. 하나의 행 하나의 열 값을 바꿈
df.loc['2019-03-02',['B','C']] = 1

In [ ]:
df

                   A         B         C         D  E         F
2019-03-01  0.000000 -0.050887  0.628987  0.271250  1  0.378296
2019-03-02  0.525507  1.000000  1.000000  1.125137  2  2.525507
2019-03-03  0.317390 -0.161205 -0.215392  0.120458  3  3.317390
2019-03-04  0.671150 -1.051777 -2.026217 -0.862931  4  4.671150
2019-03-05  0.920423  0.065646 -0.560622 -2.723603  5  5.920423
2019-03-06  0.589380 -2.102541 -0.092969  0.482800  6  6.589380

In [ ]:
#디테일한 수정 2. 하나의 행 두개의 열 값을 바꿈
df.loc['2019-03-02',['B','C']] = [1,2] #리스트로 넣으면 디테일하게 원하는 값을 바꿀 수 있다.

In [ ]:
#디테일한 수정 3. 하나의 행 두개의 열 값을 바꿈
df.loc[['2019-03-02','2019-03-03'],['B','C']] = [[1,2],[3,4]] #이중리스트로만듦
df

                   A         B         C         D  E         F
2019-03-01  0.000000 -0.050887  0.628987  0.271250  1  0.378296
2019-03-02  0.525507  1.000000  2.000000  1.125137  2  2.525507
2019-03-03  0.317390  3.000000  4.000000  0.120458  3  3.317390
2019-03-04  0.671150 -1.051777 -2.026217 -0.862931  4  4.671150
2019-03-05  0.920423  0.065646 -0.560622 -2.723603  5  5.920423
2019-03-06  0.589380 -2.102541 -0.092969  0.482800  6  6.589380

In [ ]:
df.iloc[[2,3],[1,2]] = [[9,9],[10,10]]
df

                   A          B          C         D  E         F
2019-03-01  0.000000  -0.050887   0.628987  0.271250  1  0.378296
2019-03-02  0.525507   1.000000   2.000000  1.125137  2  2.525507
2019-03-03  0.317390   9.000000   9.000000  0.120458  3  3.317390
2019-03-04  0.671150  10.000000  10.000000 -0.862931  4  4.671150
2019-03-05  0.920423   0.065646  -0.560622 -2.723603  5  5.920423
2019-03-06  0.589380  -2.102541  -0.092969  0.482800  6  6.589380

In [ ]:
#A열에 1을 더한 컬럼 추가
df['A+1'] = df['A'] + 1
df

#A열과 B열을 더하고 싶으면
df['A+B'] = df['A'] + df['B']
df

                   A          B          C  ...         F       A+1        A+B
2019-03-01  0.000000  -0.050887   0.628987  ...  0.378296  1.000000  -0.050887
2019-03-02  0.525507   1.000000   2.000000  ...  2.525507  1.525507   1.525507
2019-03-03  0.317390   9.000000   9.000000  ...  3.317390  1.317390   9.317390
2019-03-04  0.671150  10.000000  10.000000  ...  4.671150  1.671150  10.671150
2019-03-05  0.920423   0.065646  -0.560622  ...  5.920423  1.920423   0.986069
2019-03-06  0.589380  -2.102541  -0.092969  ...  6.589380  1.589380  -1.513160

[6 rows x 8 columns]

In [ ]:
pip install xlrd==1.2.0 ##엑셀파일 불러오기 전 설치

Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [ ]:
pd.read_excel("./서울.xls", header=1, usecols='C:K')

     전체   남학생   여학생  전체.1  남학생.1  여학생.1  전체.2  남학생.2  여학생.2
0  35.1  29.8  40.8  25.4   21.2   29.9  11.2    8.8   13.8

In [ ]:
col_names = ['스트레스', '스트레스남학생', '스트레스여학생', '우울감경험률','우울남학생','우울여학생', '자살생각율','자살남학생','자살여학생'] #변수생성

In [ ]:
raw_data = pd.read_excel("./서울.xls", header=1, usecols='C:K',names=col_names)

In [ ]:
raw_data

   스트레스  스트레스남학생  스트레스여학생  우울감경험률  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생
0  35.1     29.8     40.8    25.4   21.2   29.9   11.2    8.8   13.8

In [ ]:
raw_data.loc[1] = 100-raw_data.loc[0]
raw_data

   스트레스  스트레스남학생  스트레스여학생  우울감경험률  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생
0  35.1     29.8     40.8    25.4   21.2   29.9   11.2    8.8   13.8
1  64.9     70.2     59.2    74.6   78.8   70.1   88.8   91.2   86.2

In [ ]:
raw_data['응답'] = ['그렇다','아니다']
raw_data
raw_data = raw_data.set_index('응답')
# raw_data를 직접적으로 변경시키는 명령어는 아님. 한번 보여주는 것이다. -> inplace를 하면 rawdata 한번보여줌 + 조작까지 하겠다.
raw_data

     스트레스  스트레스남학생  스트레스여학생  우울감경험률  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생
응답
그렇다  35.1     29.8     40.8    25.4   21.2   29.9   11.2    8.8   13.8
아니다  64.9     70.2     59.2    74.6   78.8   70.1   88.8   91.2   86.2